.card{

}

.card:hover{
    background-color: aliceblue;
}

.center {
    max-width: 500px !important;
}

.title {
    margin-top: 15px;
    margin-bottom: 15px;
}

.yolo-item {
    margin-bottom: 10px;
}